@charset "UTF-8";

.app {
  max-width: 500px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.app h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  margin-bottom: 2rem;
}

form input, form button {
  padding: 0.8rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  border: 1px solid #eee;
}

form button {
  background-color: #6b82ec;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

form button:hover {
  background-color: #768ef8;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.user-count {
  font-weight: 600;
  color: white;
  text-align: center;
  margin: 1rem 0;
}