/* CONFIG GERAL */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

body {
  min-height: 100vh;
  color: #333;
  background-image: linear-gradient(180deg, #667eea, #764ba0);
}