@charset "UTF-8";

.user-card {
    display: flex;
    padding: 1rem 1.25rem;
    background-color: white;
    border-radius: 0.8rem;
    gap: 1rem;
}

.user-card-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}
